fieldset{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: aquamarine;

}
body{
    background: rgb(35, 112, 142);
}
h2{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: darkkhaki;
}

